.av-title {
    color: #25e0e9;
    border-top:#25e0e9 1px solid;
}

.av-img {
    transform: rotateY(180deg);
    margin-right:0;
    margin-left: auto;
    display:block;
}

.av-header {
    position: absolute;
    z-index: 100;
    top: 45%;
    left: 10%;
    user-select: none;
}

@media screen and (max-width: 1400px) {
    .av-header {
        top: 60%;
    }
}

@media screen and (max-width: 350px) {
    .av-header {
        font-size: 1.5rem !important;
        line-height: 1 !important;
    }
}

.floating-button {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }
}